*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.navi--group__allChoice {
    display:flex;
    justify-content: center;
    list-style: none;
}

.choice__text {
    display: block;
    text-decoration: none;
    color: white ;
    padding: 15px 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.navi--group__choice:hover > .choice__text{
    color: black;
    background-color: #ccc;
}

.navi--group__allSubChoice{
    position: absolute;
    flex-direction: column;
    display: none;
}

.subChoice__text{
    background-color: white;
    color: black;
}

.navi--group__choice:hover .navi--group__allSubChoice{
    display: block;
}



/*Kính lúp*/
.header__find {
    display: flex;
    color: white;

}

.header__find:hover .find__search{
    background: red;
}

.find__search{
    padding: 15px 24px;
    color: white !important;

}

/* MAIN */
.main{
    display: flex;
    flex-direction: column;
}

/*Content*/
.content {
    margin-top: 40px;
}




/* Slider*/

.content__slider {
    width: 100vw;
    height: 100vh;
    background-image: url(../image/newYork.jpg);
    background-repeat: no-repeat;
    animation: slide_image 10s infinite;
    background-size: 100%;

}

.slider--content__group {
    position: absolute;
    left: 0; right: 0; 
    bottom: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider__content{
    color: white;
    margin: 10px 0px;
}
.slider__content::before{
    content: "";
    animation: slide_content 10s infinite;

}
/* Animation cho slider*/
@keyframes slide_image {
    0%, 100% {
        background-image: url(../image/newYork.jpg);
    }

    25% {
        background-image: url(../image/chicago.jpg);
    }
    
    75% {
        background-image: url(../image/la.jpg);
    }
}

@keyframes slide_content {
    0%, 100% {
        content: "New York";
    }

    25% {
        content: "Chicago";
    }
    
    75% {
        content: "Los Angeles";
    }
}
/* ----------Hết phần animation cho slider ---------*/ 


/* MEMBER */
.member {
    width: 800px;
    background-color: white;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px !important;
    padding-bottom: 64px !important;
    padding: 0.01em 16px;
    margin: 0 auto;
}

.member__ele {
    display: block;
    width: 100%;
    text-align: center;
    color: black;
}

.member__title{
    margin: 10px 0px;
    font-size: 30px;
    letter-spacing: 4px;
}

.member__subTitle{
    font-size: 15px;
    opacity: 0.60;
    margin: 15px 0px;
    font-style: italic;

}

.member__content{
    display: block;
    line-height: 1.6;
    
    font-size: 15px;
    text-align: justify;
}

.member__listOfmember{
    display:flex;
    padding: 32px 0;
}

.listOfmember__ele{
    display: block;
    width: 33.33%;
    text-align: center;
}
.listOfmember__ele > p{
    margin: 15px 0;
}

.listOfmember__ele > img{
    width: 60%;
    margin: 0 0 16px;
}
/*___________________Kết thúc MEMBER___________________ */

/* TOUR DATE */
.tourDates{
    background-color: black;
    color: white;
    order: 3;
}

.tourDates__content--around{
    width: 800px;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.tourDates__content{
    width: 100%;
    text-align: center;
}

.tourDates__content--title{
    margin: 10px 0;
    font-size: 30px;
}

.tourDates__content--slogan{
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.60;
}