*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;

}

.navi--group__allChoice {
    display:flex;
    justify-content: center;
    list-style: none;
}

.choice__text {
    display: block;
    text-decoration: none;
    color: white ;
    padding: 12px 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
}

.navi--group__choice:hover > .choice__text{
    color: black;
    background-color: #ccc;
}

.navi--group__allSubChoice{
    position: absolute;
    flex-direction: column;
    display: none;
}

.subChoice__text{
    background-color: white;
    color: black;
}

.navi--group__choice:hover .navi--group__allSubChoice{
    display: block;
}



/*Kính lúp*/
.header__find {
    display: flex;
    color: white;

}

.header__find:hover .find__search{
    background: red;
}

.find__search{
    padding: 12px 24px;
    color: white !important;

}